@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/*---------------------------- 基本變數 end ------------------------------------------*/
/*---------------------------- 背景設定 ----------------------------------------------*/
/*---------------------------- 背景設定 end ------------------------------------------*/
/*---------------------------- 文字屬性 ----------------------------------------------*/
/*---------------------------- 文字屬性 end ------------------------------------------*/
/*---------------------------- BOX 區塊屬性 ------------------------------------------*/
/*---------------------------- BOX 區塊屬性 end --------------------------------------*/
/*---------------------------- 各類選單屬性 -------------------------------------------*/
/*---------------------------- 各類選單屬性 end ---------------------------------------*/
/*agree 同意頁面-------------------------------------------------start*/
/* 頁面寬度 */
body {
  font-size: 12px;
  font-family: STHeiti,"Microsoft YaHei", "微软雅黑", "SimSun", "宋体",arial; }

.rules-body, .agree-copyright {
  width: 800px;
  margin: 0 auto;
  clear: both; }

.agree_title {
  display: block;
  text-align: center; }

.agree_btn {
  position: relative;
  text-align: center; }
  .agree_btn a {
    display: inline-block !important;
    text-decoration: none; }

.agree_list {
  position: relative;
  text-align: center; }
  .agree_list a {
    display: inline-block !important;
    text-decoration: none; }

.agree_content {
  overflow: hidden; }
  .agree_content ul {
    padding: 0 20px; }
    .agree_content ul li {
      margin: 0 auto;
      width: 96%;
      margin-bottom: 15px; }
  .agree_content h2 {
    float: left;
    display: block;
    width: 800px;
    text-align: center; }
  .agree_content h3 {
    float: left;
    display: block;
    width: 800px;
    height: 36px;
    text-align: center;
    margin-bottom: 15px; }

.agree_link a {
  clear: both;
  float: right;
  text-decoration: none;
  margin: 0 25px 0 0; }

.agree-copyright {
  text-align: center; }

/*agree 同意頁面-------------------------------------------------end*/
/*以下開放編譯*/
/*背景色*/
/*底圖*/
/*logo*/
#logo-bg {
  padding: 0; }

/*協議與規則*/
.agree_title {
  font-size: 18px;
  line-height: 50px;
  color: #222222;
  color: #FFF;
  height: 50px; }

/*同意與不同意按鈕*/
.agree_btn a {
  margin: 17px 16px;
  font-size: 14px;
  line-height: 28px;
  color: #FFF; }

/*同意頁面-選單按鈕*/
.agree_list {
  margin-top: 4px; }
  .agree_list a {
    margin: 0 40px;
    font-size: 12px;
    line-height: 27px;
    color: #FFF;
    text-decoration: underline; }
    .agree_list a:hover {
      color: #CCC; }

.agree_content {
  font-size: 13px;
  line-height: 24px;
  color: #FFF; }
  .agree_content h2 {
    font-size: 15px;
    line-height: 38px;
    color: bold;
    color: #FFF; }

.agree_link a {
  font-size: 12px;
  line-height: 40px;
  color: #AAA; }

.footer-bg {
  min-height: 118px; }

.agree-copyright {
  font-size: 12px;
  line-height: 120px;
  color: #FFF; }

.agree-container {
  background-color: #5D007C; }
